<mat-card class="mt-5">
    <mat-card-actions class="login-box mt-5">
        <div>
            <img class="img-left" src="../../../assets/images/agency.png">
        </div>
        <div class="form-right">
            <h2>Sign In</h2>
            <form [formGroup]="loginForm">
                <mat-form-field appearance="outline" class="width-100" style="margin-bottom: -1.25em" >
                    <mat-label>Email</mat-label>
                    <input matInput type="email" value="" formControlName="email">
                </mat-form-field>
                <br>
    
                <mat-form-field appearance="outline" class="width-100" style="margin-bottom: -1.25em" >
                    <mat-label>Password</mat-label>
                    <input matInput type="password" value="" formControlName="password">
                </mat-form-field>
            </form>
            <p class="forgot" [routerLink]="'../reset-password'" [routerLinkActive]="['active']">Forgot password ?</p>
            <button mat-raised-button [disabled]="loginForm.invalid" (click)="saveForm()">LOGIN</button>
    
            <p>Not a member yet? <span [routerLink]="'../register'" [routerLinkActive]="['active']" class="forgot">Sign up</span></p>
        </div>
    </mat-card-actions>
</mat-card>