<!-- Footer
		============================================= -->
<footer>
    <div class="container mb-5">
        <!-- Footer Widgets
        ============================================= -->
        <div class="footer-widgets-wrap row">
            <div class="col-md-4 col-sm-6">
                <div class="footer-logo d-flex align-items-center mb-4">
                    <img src="../../assets/images/logo-footer.jpg" height="40" alt="">
                    <h4 class="nott ls0 mb-0 ms-3">canvas</h4>
                </div>
                <div class="d-flex">
                    <div class="pe-4 ps-1 mt-2">
                        <mat-icon>business</mat-icon>
                    </div>
                    <div class="flex-grow-1">
                        <address>
                            <abbr title="address"><strong>Headquarters:</strong><br></abbr>
                            795 Folsom Ave, Suite 600<br>
                            San Francisco, CA 94107<br>
                        </address>
                    </div>
                </div>
                <div class="d-flex ">
                    <div class="pe-4 ps-1 mt-2">
                        <mat-icon>call</mat-icon>
                    </div>
                    <div class="flex-grow-1">
                        <div class="bottommargin-sm">
                            <abbr title="Phone Number"><strong>Phone:</strong></abbr> (91) 8547 632521<br>
                            <abbr title="Fax"><strong>Fax:</strong></abbr> (91) 11 4752 1433<br>
                        </div>
                    </div>
                </div>
                <div class="d-flex align-items-center ">
                    <div class="pe-4 ps-1 mt-2">
                        <mat-icon>email</mat-icon>
                    </div>
                    <div class="flex-grow-1">
                        <abbr title="Email Address"><strong>Email:</strong></abbr> info@canvas.com
                    </div>
                </div>
                <div class="mt-4 social-icons-1">
                    <a href="#" title="Facebook" target="_blank">
                        <i class="fa-brands fa-facebook fb"></i>
                    </a>
                    <a href="#" title="Twitter" target="_blank">
                        <i class="fa-brands fa-twitter tw"></i>
                    </a>
                    <a href="#" title="Github" target="_blank">
                        <i class="fa-brands fa-github gh"></i>
                    </a>
                    <a href="#" title="Pinterest"target="_blank">
                        <i class="fa-brands fa-pinterest pi"></i>
                    </a>
                </div>
            </div>
            <div class="widget col-md-4 col-sm-6  mt-5 mt-sm-0">
                <h4 class="ls0">Popular Authors</h4>
                <div class="row">
                    <div class="entry col-12 mt-3">
                        <div class="grid-inner row align-items-center g-0">
                            <div class="col-auto">
                                <div class="entry-image">
                                <a href="#"><img src="../../assets/images/authors/1.jpg" height="64" alt="author"></a>
                                </div>
                            </div>
                            <div class="col ps-3">
                                <div class="entry-title">
                                <h4><a href="#">Nathaneal Down</a></h4>
                                <small>Published 2,615 Books</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="entry col-12">
                        <div class="grid-inner row align-items-center g-0">
                            <div class="col-auto">
                                <div class="entry-image">
                                <a href="#"><img src="../../assets/images/authors/2.jpg" height="64" alt="author"></a>
                                </div>
                            </div>
                            <div class="col ps-3">
                                <div class="entry-title">
                                <h4><a href="#">Bailey Wonger</a></h4>
                                <small>Published 2,174 Books</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="entry col-12">
                        <div class="grid-inner row align-items-center g-0">
                            <div class="col-auto">
                                <div class="entry-image">
                                <a href="#"><img src="../../assets/images/authors/3.jpg" height="64" alt="author"></a>
                                </div>
                            </div>
                            <div class="col ps-3">
                                <div class="entry-title">
                                <h4><a href="#">Hanson Deck</a></h4>
                                <small>Published 1,187 Books</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mt-5 mt-md-0">
                <div class="widget">
                    <h4 class="ls0">Contact Us</h4>
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Full Name</mat-label>
                        <input matInput>
                        </mat-form-field>
                        <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input type="email" matInput>
                        </mat-form-field>
                        <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Message</mat-label>
                        <textarea matInput></textarea>
                        </mat-form-field>
                        <button type="submit" name="quick-contact-form-submit" class="button button-small send-email nott ls0 mt-3 ml-0" value="submit">Send Email</button>
                </div>
            </div>
        </div>
    </div>

 
    <!-- Copyrights
    ============================================= -->
    <div id="copyrights">
        <div class="container ">
            <div class="row align-items-center">
                <div class="col-sm-6">
                    Copyrights &copy; 2022 All Rights Reserved by Canvas Inc.
                </div>
                <div class="col-sm-6 mt-4 mt-sm-0">
                    <div class="float-none float-sm-right ">
                        <a href="#" class="social-icon">
                            <i class="fa-brands fa-facebook-f si2 fb2"></i>
                        </a>
                        <a href="#" class="social-icon">
                            <i class="fa-brands fa-twitter si2 tw2"></i>
                        </a>
                        <a href="#" class="social-icon">
                            <i class="fa-brands fa-google-plus-g si2 gp2"></i>
                        </a>
                        <a href="#" class="social-icon">
                            <i class="fa-brands fa-pinterest si2 pi2"></i>
                        </a>
                        <a href="#" class="social-icon">
                            <i class="fa-brands fa-vimeo si2 vi2"></i>
                        </a>
                        <a href="#" class="social-icon">
                            <i class="fa-brands fa-github si2 gh2"></i>
                        </a>
                        <a href="#" class="social-icon">
                            <i class="fa-brands fa-yahoo si2 ya2"></i>
                        </a>
                        <a href="#" class="social-icon">
                            <i class="fa-brands fa-linkedin si2 li2"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- #copyrights end -->
<!-- </footer>#footer end -->

					<div class="col-md-4 col-sm-6 mt-5 mt-md-0">

						<div class="widget">

							<h4 class="ls0">Contact Us</h4>
							<!-- <form id="quick-contact-form" name="quick-contact-form" action="include/form.php" method="post" class="quick-contact-form nobottommargin">

								<input type="text" class="required sm-form-control border-form-control input-block-level" id="quick-contact-form-name" name="quick-contact-form-name" value="" placeholder="Full Name" />
								<input type="text" class="required sm-form-control border-form-control email input-block-level" id="quick-contact-form-email" name="quick-contact-form-email" value="" placeholder="Email Address" />
								<textarea class="required sm-form-control border-form-control input-block-level short-textarea" id="quick-contact-form-message" name="quick-contact-form-message" rows="4" cols="30" placeholder="Message"></textarea>
								<input type="text" class="hidden" id="quick-contact-form-botcheck" name="quick-contact-form-botcheck" value="" />
								<input type="hidden" name="prefix" value="quick-contact-form-">
								<button type="submit" id="quick-contact-form-submit" name="quick-contact-form-submit" class="button button-small button-black nott ls0 mt-3 ml-0" value="submit">Send Email</button>
							</form> -->
              <!-- <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Favorite food</mat-label>
                <input matInput placeholder="Ex. Pizza" value="Sushi">
              </mat-form-field> -->
                            <mat-form-field class="w-100" appearance="outline">
                                <mat-label>Full Name</mat-label>
                                <input matInput>
                              </mat-form-field>
                              <mat-form-field class="w-100" appearance="outline">
                                <mat-label>Email</mat-label>
                                <input type="email" matInput>
                                <!-- <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com"> -->
                                <!-- <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                                  Please enter a valid email address
                                </mat-error>
                                <mat-error *ngIf="emailFormControl.hasError('required')">
                                  Email is <strong>required</strong>
                                </mat-error> -->
                              </mat-form-field>
                              <mat-form-field class="w-100" appearance="outline">
                                <mat-label>Message</mat-label>
                                <textarea matInput></textarea>
                              </mat-form-field>
                              <button type="submit" name="quick-contact-form-submit" class="button button-small send-email nott ls0 mt-3 ml-0" value="submit">Send Email</button>
						</div>
					</div>

			

			

			<!-- Copyrights
			============================================= -->
            <!-- <footer> -->
			<div id="copyrights">

				<div class="container ">

					<div class="row align-items-center">
						<div class="col-sm-6">
							Copyrights &copy; 2022 All Rights Reserved by Canvas Inc.
						</div>

						<div class="col-sm-6 mt-4 mt-sm-0">
							<div class="float-none float-sm-right ">
								<a href="#" class="social-icon">
									<i class="fa-brands fa-facebook-f si2 fb2"></i>
								</a>

								<a href="#" class="social-icon">
									<i class="fa-brands fa-twitter si2 tw2"></i>
								</a>

								<a href="#" class="social-icon">
									<i class="fa-brands fa-google-plus-g si2 gp2"></i>
								</a>

								<a href="#" class="social-icon">
									<i class="fa-brands fa-pinterest si2 pi2"></i>
								</a>

								<a href="#" class="social-icon">
									<i class="fa-brands fa-vimeo si2 vi2"></i>
								</a>

								<a href="#" class="social-icon">
									<i class="fa-brands fa-github si2 gh2"></i>
								</a>

								<a href="#" class="social-icon">
									<i class="fa-brands fa-yahoo si2 ya2"></i>
								</a>

								<a href="#" class="social-icon">
									<i class="fa-brands fa-linkedin si2 li2"></i>
								</a>
							</div>
						</div>
					</div>

				</div>

			</div><!-- #copyrights end -->

		</footer><!-- #footer end -->


