 
footer {
    font-family: 'Nunito', sans-serif;
    color: #555;


        .footer-widgets-wrap {
            padding: 80px 0;

            .footer-logo h4 {
                font-size: 18px;
            }

            mat-icon {
                font-size: 32px;
            }
            .bottommargin-sm {
                margin-bottom: 2rem!important;
            }
            
            .ls0 {
                letter-spacing: 0!important;
            }

            .nott {
                text-transform: none!important;
            }

            .widget > h4 {
                font-size: 15px;
                text-transform: uppercase;
            }
        
            .entry {
                margin-bottom: 30px;
            }
        
            .entry-image img {
                border-radius: 3px;
            }
        
            .grid-inner {
                width: 100%;
                background-size: cover;
                background-position: center center;
                background-repeat: no-repeat;
            }
        
            .entry-title h4 {
                font-size: 14px;

                    a {
                    color: #333;
                    text-decoration: none;
                    }
                    a:hover {
                        color:#0C1CCC;
                    }
            }
        
            .send-email {
                background-color: #111;
                padding: 7px 17px;
                font-size: 12px;
                line-height: 20px;
                box-shadow: 0 8px 16px rgba(32,41,50,0.12);
                color: #fff;
                font-weight: 700;
                border: none;
            }

            .social-icons-1 {
                font-size: 32px;

                .fb{
                    color: #3b5998;
                }
            
                .tw {
                    color: #00acee;
                }
            
                .gh {
                    color: #171515;
                }
            
                .pi {
                    color: #c8232c;
                }
            
            }

        }

    .fa-brands {
        transition-duration: 0.4s;
        transition-property: transform;
        transition-timing-function: linear;
        padding: 12px;
    }

    .fa-brands:hover {
        transform: rotateX(180deg);
    }
    

    #copyrights {
        background-color: #eee;
        padding: 40px 0;
        font-size: 14px;
        line-height: 1.8;

        .social-icon {
            color:#555;

            .si2:hover  {
                color: white;
                border-radius: 3px;
            }
            .fb2:hover {
                background-color: #3b5998;
            }
            .tw2:hover {
                background-color: #00acee;
            }
            .gh2:hover {
                background-color: #171515;
            }
            .pi2:hover {
                background-color: #c8232c;
            }
            .gp2:hover {
                background-color: #d84a40;
            }
            .vi2:hover {
                background-color: #4fb4e1;
            }
            .ya2:hover {
                background-color:#750291;
            }
            .li2:hover {
                background-color: #0077b5;
            }
        }
    }
}