<mat-card class="mt-5">
    <mat-card-actions class="register-box mt-5">
        <div>
            <img class="img-left" src="../../../assets/images/agency.png">
        </div>
        <div class="form-right">
            <h2>Sign Up</h2>
            <form [formGroup]="registerForm">
                <mat-form-field appearance="outline" class="width-100"  style="margin-bottom: -1.25em" >
                    <mat-label>First Name</mat-label>
                    <input matInput value="" formControlName="firstName">
                </mat-form-field>
                <br>
    
                <mat-form-field appearance="outline" class="width-100" style="margin-bottom: -1.25em" >
                    <mat-label>Last Name</mat-label>
                    <input matInput value="" formControlName="lastName">
                </mat-form-field>
                <br>
    
                <mat-form-field appearance="outline" class="width-100" style="margin-bottom: -1.25em" >
                    <mat-label>Email</mat-label>
                    <input matInput type="email" value="" formControlName="email">
                </mat-form-field>
                <br>
    
                <mat-form-field appearance="outline" class="width-100" style="margin-bottom: -1.25em" >
                    <mat-label>Password</mat-label>
                    <input matInput type="password" value="" formControlName="password">
                </mat-form-field>
                <br>
    
                <mat-form-field appearance="outline" class="width-100" style="margin-bottom: -1.25em" >
                    <mat-label>Phone</mat-label>
                    <input matInput type="number" value="" formControlName="phone">
                </mat-form-field>
                <br>
            </form>
    
            <button mat-raised-button color="primary" [disabled]="registerForm.invalid" (click)="saveForm()">SAVE</button>
            
            <p>Already have an account? <span class="forgot" [routerLink]="'./login'" [routerLinkActive]="['active']">Sign in</span></p>    
        </div>
    </mat-card-actions>
</mat-card>