:host {
    position: fixed;
    top: 0;
    width: 100%;
}

.header-wrap {
    background-color: #fff;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    width: 100%;


    .container-fluid {
        margin: 0px;
        width: 100% !important;
        // padding: 0 4%;

        img {
            width: 47px;
        }

        ul {
            position: absolute;
            padding-top: 40px;
            width: 94%;
            justify-content: end;
            text-align: end;

            .span-link {
                color: gray;
                margin-top: 7px;
            }

            .nav-link {
                line-height: 22px;
                font-weight: 700;
                font-size: 13px;
                text-transform: uppercase;
                font-family: 'Nunito';
                letter-spacing: 0;
            }

            .nav-link--toggled {
                background-color: rgba(0, 0, 0, 0.8);
                border-radius: 10px;
                display: inline-block;
                padding: 16px;
            }

            // .nav-item {
            // }

            .nav-item--toggled {
                background-color: transparent;
                margin: 5px;
                text-align: end;
            }

            .nav-item a {
                color: black;
            }

            .nav-item a:hover {
                color: #0C1CCC;
            }
        }

        .active {
            color: #0c1ccc !important;
        }

    .nav-link {
        line-height: 22px;
        font-weight: 700;
        font-size: 13px;
        text-transform: uppercase;
        font-family: 'Nunito';
        letter-spacing: 0;
    }
    .nav-item a {
        color: #333;
    }
    
    .nav-item a:hover {
        color: #0C1CCC;
    }
    ul {
        position: absolute;
        padding-top: 40px;
        background-color: #fff;
        width: 100%;
        justify-content: end;
        padding-right: 125px;
    } 
    .active{
        color: #0c1ccc !important;

    }

    .fa-cart-shopping {
        font-size: 28px;
        margin-left: 50px;
    }

    #num{
        position: relative;
        top: -17px;
        right: 10px;
        padding: 5px 10px;
        border-radius: 50%;
        background: white;
        color: black;
        border: 2px solid red;
    }
}
}

@media (max-width: 992px) {
    .span-link {
        display: none;
    }
}