
    <div class="header-wrap">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light p-0">
                <div class="container-fluid">
                    <a class="navbar-brand" [routerLink]="'home'"><img src="../../assets/images/logo.png"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" [routerLink]="'about'">ABOUT US</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" [routerLink]="'most-popular'">ARTICLES</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="resume.html">CONTACT US</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" [routerLink]="'auth/register'" [routerLinkActive]="['active']" *ngIf="!activeUser.email">REGISTER /</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" [routerLink]="'../about'" [routerLinkActive]="['active']" *ngIf="activeUser.email">{{activeUser.firstName}} {{activeUser.lastName}}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" [routerLink]="'auth/login'" [routerLinkActive]="['active']" *ngIf="!activeUser.email">LOGIN</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" [routerLink]="'../home'" [routerLinkActive]="['active']" *ngIf="activeUser.email" (click)="logOut()">LOGOUT</a>
                            </li>
                            <i class="fa-sharp fa-solid fa-cart-shopping" [routerLink]="'shopping-cart'"></i><span id="num">{{ count }}</span>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
