<div id="wrapper" class="clearfix mt-5 pt-5">
    <section id="content">
        <div class="content-wrap p-0 overflow-visible clearfix">
            <div class="container mw-lg">
                <div class="row gutter-50 justify-content-center py-5">
                    <div class="col-md-5">
                        <!-- <img id="img-author" src="assets/images/author.jpg" alt=""> -->
                        <div class="h-75 sticky-top"
                            style="background: url('../../assets/images/author.jpg') no-repeat center center / cover; top: 150px">
                        </div>
                    </div>
                    <div class="col-md-5 offset-lg-1  title">
                        <h5 class="font-body ls2 text-uppercase op-06 mb-2">Hello</h5>
                        <h2 class="display-4 fw-normal nott ls0 font-primary">I'm <span><strong>Samuel
                                    Serif</strong></span></h2>
                        <p class="text-muted">Writer, London</p>

                        <div class="line border-width-5 w-25 my-5"></div>

                        <!-- <img src="demos/articles/images/sign.png" alt="Sign" width="300" class="mb-5"> -->

                        <p class="lead">Progressively strategize just in time scenarios and compelling results.
                            Intrinsicly parallel task extensive systems whereas distinctive catalysts for scenarios and
                            compelling results change.<br><br> Lorem ipsum dolor sit amet consectetur adipisicing, elit.
                            Incidunt a eos natus provident consequuntur dolorem, asperiores animi quos voluptatum neque
                            quo voluptate at facere quasi quisquam debitis earum maxime aut.</p>
                        <p class="lead">Progressively strategize just in time scenarios and compelling results.
                            Intrinsicly parallel task extensive systems whereas distinctive catalysts for scenarios and
                            compelling results change.</p>
                        <div class="clear"></div>

                        <div class="mt-4 social-icons-1">
                            <a href="#" title="Facebook" target="_blank">
                                <i class="fa-brands fa-facebook fb"></i>
                            </a>
                            <a href="#" title="Twitter" target="_blank">
                                <i class="fa-brands fa-twitter tw"></i>
                            </a>
                            <a href="#" title="Github" target="_blank">
                                <i class="fa-brands fa-github gh"></i>
                            </a>
                            <a href="#" title="Pinterest" target="_blank">
                                <i class="fa-brands fa-pinterest pi"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="line"></div>
                <div class="heading-block topmargin mb-3 border-bottom-0">
                    <h2 class="fw-normal ls0 nott mb-0">My Latest Books</h2>
                </div>
                <div class="row mb-4">
                    <div class="col-md-2">
                        <img src="assets/images/book_5.png" alt="Image 1" [routerLink]="'../single-books'"
                            class="img-cursor">
                    </div>
                    <div class="col-md-2">
                        <img src="assets/images/book_6.png" alt="Image 2" [routerLink]="'../single-books'"
                            class="img-cursor">
                    </div>
                    <div class="col-md-2">
                        <img src="assets/images/book_8.png" alt="Image 3" [routerLink]="'../single-books'"
                            class="img-cursor">
                    </div>
                    <div class="col-md-2">
                        <img src="assets/images/book_7.png" alt="Image 4" [routerLink]="'../single-books'"
                            class="img-cursor">
                    </div>
                    <div class="col-md-2">
                        <img src="assets/images/book_9.png" alt="Image 5" [routerLink]="'../single-books'"
                            class="img-cursor">
                    </div>
                    <div class="col-md-2">
                        <img src="assets/images/book_10.png" alt="Image 5" [routerLink]="'../single-books'"
                            class="img-cursor">
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>