
#wrapper {
    position: relative;
    float: none;
    background-color: #fff;

    #content {
        background-color: #fff;

        .p-0 {
            padding: 0 !important;
        }

        .content-wrap {
            position: relative;

            strong {
                color: #0C1CCC;
            }

            h5 {
                font-family: 'Nunito', sans-serif;
                letter-spacing: 2px !important;
                color: #444;
                font-weight: 700;
                font-size: 14px;
            }

            .op-06 {
                opacity: .6 !important;
            }

            .title>h2 {
                font-weight: 400 !important;
                color: #444;
                font-family: 'Playfair_Display1' !important;
            }

            .col-md-5 {
                font-family: 'Nunito', sans-serif;
            }

            .fw-normal {
                font-family: 'Playfair Display', serif;
                font-weight: 700 !important;
            }

            .heading-block h2 {
                font-weight: 900;
            }

            .col-md-2 img {
                width: 180px;
                margin: 5px;
            }

            .img-cursor {
                cursor: pointer;
            }

            .border-width-5 {
                border-width: 5px !important;
            }

            .line {
                clear: both;
                position: relative;
                margin: 4rem 0;
                border-top: 1px solid #eee;
            }

            .social-icons-1 {
                font-size: 32px;

                .fb {
                    color: #3b5998;
                }

                .tw {
                    color: #00acee;
                }

                .gh {
                    color: #171515;
                }

                .pi {
                    color: #c8232c;
                }
            }

            .fa-brands {
                transition-duration: 0.4s;
                transition-property: transform;
                transition-timing-function: linear;
                padding: 12px;
            }

            .fa-brands:hover {
                transform: rotateX(180deg);
            }


        }
    }
}