#nav-line {
  width: 100%;
  height: 35px;
  background-color: lightgray;
  display: flex;
  padding-left: 200px;
}

ul {
  text-decoration: none;
  display: flex;
  list-style-type: none;
  gap: 195px;
  margin-top: 7px;
  font-weight: bold;
}

#shop-container {
  display: flex;
}

#products {
  display: flex;
  margin-top: 55px;
  flex-direction: column;
  flex: 1;

  img {
    width: 100px;
  }

  .product {
    width: 100%;
    display: flex;
  }
}

#submit-button {
  margin: 5px;
  width: 100%;
  border-radius: 10px;
  margin-right: 30px;
  margin-left: -14px;
}

.remove {
  width: 10px;
  height: 10px;
  background-color: lightgray;
  padding: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#intro {
  margin-left: 30px;
}

.input-quantity {
  height: fit-content;
}

.cart-total-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  .cart-total {
    display: flex;
    flex-direction: column;
    width: 220px;
    
    .cart-total-price, .shipping, .order-total {
      display: flex;
      justify-content: space-between;
    }
  }
}
