<div id="wrapper" class="clearfix mt-5 pt-5">
  <div id="nav-line">
    <ul>
      <li>Product</li>
      <li>Price</li>
      <li>Quantity</li>
      <li>Total</li>
      <li>Remove</li>
    </ul>
  </div>

  <div id="products">
    <ul *ngFor="let book of addedToCart$ | async">
      <div class="product">
        <li><img [src]="book.image" alt="" /></li>
        <div id="intro">
          <p>{{ book.title }}</p>
          <p>From:{{ book.author }}</p>
        </div>
      </div>

      <div id="price">
        <span *ngIf="book.onSale">${{ book.discountPrice }}</span>
        <span *ngIf="!book.onSale">${{ book["originalPrice:"] }}</span>
      </div>

      <input
        type="number"
        name="quantity"
        class="input-quantity"
        [(ngModel)]="book.quantity"
        [max]="book.inStock"
      />

      <div id="total">
        <span *ngIf="book.onSale"
          >${{ book.discountPrice * book.quantity }}
        </span>
        <span *ngIf="!book.onSale"
          >${{ book["originalPrice:"] * book.quantity }}</span
        >
      </div>

      <div class="remove" (click)="onBookRemove(book)">
        <span>X</span>
      </div>
    </ul>
  </div>

  <hr />

  <div class="cart-total-wrapper">
    <div class="cart-total">
      <div class="cart-total-price">
        <span>Cart total</span>
        <span>{{ total }}</span>
      </div>
      <div class="shipping">
        <span>Shipping</span>
        <span>$4</span>
      </div>
      <hr>
      <div class="order-total">
        <span>Order total</span>
        <span>{{ total + 4 }}</span>
      </div>
    </div>
  </div>
</div>
