<div class="container mt-5">
    <div id="heading">
        <h5 class="gray">Articles</h5>
        <h3 class="black">Most Popular Books</h3>
    </div>
    <div id="shop">
        <div class="container-shop">
            <div class="row">
                <div class="product col-lg-4 col-md-6 col-sm-12 ">
                    <div class="book">
                        <a class="productId" [routerLink]="'../single-books'" [routerLinkActive]="['active']"><img
                                class="img-product" src="../assets/images/1.png"></a>
                        <div class="buttons">
                            <button id="cart" ngClass="move-left" mat-raised-button matTooltip="Add to Cart"
                            matTooltipPosition="left"
                            aria-tooltip="Button that displays and hides a tooltip triggered by other buttons">
                            <mat-icon>shopping_basket</mat-icon>
                        </button>
                        <button id="wishlist" ngClass="move-left" mat-raised-button matTooltip="Add to Wishlist"
                            matTooltipPosition="left"
                            aria-tooltip="Button that displays and hides a tooltip triggered by other buttons">
                            <mat-icon>favorite</mat-icon>
                        </button>
                        <button id="quick-view" ngClass="move-left" mat-raised-button matTooltip="Quick View"
                            matTooltipPosition="left"
                            aria-tooltip="Button that displays and hides a tooltip triggered by other buttons">
                            <mat-icon>crop_free</mat-icon>
                        </button>
                            <!-- <button type="button" id="cart" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="right" title="Tooltip on left">
                                <mat-icon>shopping_basket</mat-icon>
                              </button>
                              <button type="button" id="wishlist" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="left" title="Tooltip on left">
                                <mat-icon>favorite</mat-icon>
                              </button>
                              <button type="button" id="quick-view" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="left" title="Tooltip on left">
                                <mat-icon>crop_free</mat-icon>
                              </button> -->
                            

                        </div>
                    </div>
                    <h3 class="title-product" [routerLink]="'../single-books'">Our Dreams</h3>
                    <h4 class="price"><span class="cross-line">$24.99</span> <span class="discount">$12.49</span></h4>
                </div>
                <div class="product col-md-4 col-sm-6 col-12">
                    <div class="book">
                        <a class="productId" routerLink=""><img class="img-product" src="../assets/images/3.png"></a>
                        <div class="buttons">
                        <button id="cart" ngClass="move-left" mat-raised-button matTooltip="Add to Cart"
                            matTooltipPosition="left"
                            aria-tooltip="Button that displays and hides a tooltip triggered by other buttons">
                            <mat-icon>shopping_basket</mat-icon>
                        </button>
                        <button id="wishlist" ngClass="move-left" mat-raised-button matTooltip="Add to Wishlist"
                            matTooltipPosition="left"
                            aria-tooltip="Button that displays and hides a tooltip triggered by other buttons">
                            <mat-icon>favorite</mat-icon>
                        </button>
                        <button id="quick-view" ngClass="move-left" mat-raised-button matTooltip="Quick View"
                            matTooltipPosition="left"
                            aria-tooltip="Button that displays and hides a tooltip triggered by other buttons">
                            <mat-icon>crop_free</mat-icon>
                        </button>
                    </div>
                    </div>
                    <h3 class="title-product" [routerLink]="'../single-books'">Cooking Recipes</h3>
                    <h4 class="price"><span class="cross-line">$14.99</span> <span class="discount">$9.49</span></h4>
                </div>
                <div class="product col-md-4 col-sm-6 col-12">
                    <div class="book">
                        <a class="productId" routerLink=""><img class="img-product" src="../assets/images/4.png"></a>
                        <div class="buttons">
                        <button id="cart" ngClass="move-left" mat-raised-button matTooltip="Add to Cart"
                            matTooltipPosition="left"
                            aria-tooltip="Button that displays and hides a tooltip triggered by other buttons">
                            <mat-icon>shopping_basket</mat-icon>
                        </button>
                        <button id="wishlist" ngClass="move-left" mat-raised-button matTooltip="Add to Wishlist"
                            matTooltipPosition="left"
                            aria-tooltip="Button that displays and hides a tooltip triggered by other buttons">
                            <mat-icon>favorite</mat-icon>
                        </button>
                        <button id="quick-view" ngClass="move-left" mat-raised-button matTooltip="Quick View"
                            matTooltipPosition="left"
                            aria-tooltip="Button that displays and hides a tooltip triggered by other buttons">
                            <mat-icon>crop_free</mat-icon>
                        </button>
                    </div>
                    </div>
                    <h3 class="title-product" [routerLink]="'../single-books'">Dessert Items</h3>
                    <h4 class="price"><span class="cross-line">$14.99</span> <span class="discount">$9.49</span></h4>
                </div>
                <div class="product col-md-4 col-sm-6 col-12">
                    <div class="book">
                        <a class="productId" routerLink=""><img class="img-product" src="../assets/images/5.png"></a>
                        <div class="buttons">
                        <button id="cart" ngClass="move-left" mat-raised-button matTooltip="Add to Cart"
                            matTooltipPosition="left"
                            aria-tooltip="Button that displays and hides a tooltip triggered by other buttons">
                            <mat-icon>shopping_basket</mat-icon>
                        </button>
                        <button id="wishlist" ngClass="move-left" mat-raised-button matTooltip="Add to Wishlist"
                            matTooltipPosition="left"
                            aria-tooltip="Button that displays and hides a tooltip triggered by other buttons">
                            <mat-icon>favorite</mat-icon>
                        </button>
                        <button id="quick-view" ngClass="move-left" mat-raised-button matTooltip="Quick View"
                            matTooltipPosition="left"
                            aria-tooltip="Button that displays and hides a tooltip triggered by other buttons">
                            <mat-icon>crop_free</mat-icon>
                        </button>
                    </div>
                    </div>
                    <h3 class="title-product" [routerLink]="'../single-books'">Pizza Lovers</h3>
                    <h4 class="price"> <span class="discount">$19.49</span></h4>
                </div>
                <div class="product col-md-4 col-sm-6 col-12">
                    <div class="book">
                        <a class="productId" routerLink=""><img class="img-product" src="../assets/images/5.1.png"></a>
                        <div class="buttons">
                        <button id="cart" ngClass="move-left" mat-raised-button matTooltip="Add to Cart"
                        matTooltipPosition="left"
                            aria-tooltip="Button that displays and hides a tooltip triggered by other buttons">
                            <mat-icon>shopping_basket</mat-icon>
                        </button>
                        <button id="wishlist" ngClass="move-left" mat-raised-button matTooltip="Add to Wishlist"
                            matTooltipPosition="left"
                            aria-tooltip="Button that displays and hides a tooltip triggered by other buttons">
                            <mat-icon>favorite</mat-icon>
                        </button>
                        <button id="quick-view" ngClass="move-left" mat-raised-button matTooltip="Quick View"
                            matTooltipPosition="left"
                            aria-tooltip="Button that displays and hides a tooltip triggered by other buttons">
                            <mat-icon>crop_free</mat-icon>
                        </button>
                    </div>
                    </div>
                    <h3 class="title-product" [routerLink]="'../single-books'">Family management</h3>
                    <h4 class="price"><span class="discount">$39.49</span></h4>
                </div>
                <div class="product col-md-4 col-sm-6 col-12">
                    <div class="book">
                        <a class="productId" routerLink=""><img class="img-product" src="../assets/images/2.png"></a>
                        <div class="buttons">
                        <button id="cart" ngClass="move-left" mat-raised-button matTooltip="Add to Cart"
                            matTooltipPosition="left"
                            aria-tooltip="Button that displays and hides a tooltip triggered by other buttons">
                            <mat-icon>shopping_basket</mat-icon>
                        </button>
                        <button id="wishlist" ngClass="move-left" mat-raised-button matTooltip="Add to Wishlist"
                            matTooltipPosition="left"
                            aria-tooltip="Button that displays and hides a tooltip triggered by other buttons">
                            <mat-icon>favorite</mat-icon>
                        </button>
                        <button id="quick-view" ngClass="move-left" mat-raised-button matTooltip="Quick View"
                            matTooltipPosition="left"
                            aria-tooltip="Button that displays and hides a tooltip triggered by other buttons">
                            <mat-icon>crop_free</mat-icon>
                        </button>
                    </div>
                    </div>
                    <h3 class="title-product" [routerLink]="'../single-books'">My Dad</h3>
                    <h4 class="price"><span class="cross-line">$59.99</span> <span class="discount">$39.49</span></h4>
                </div>

            </div>

        </div>
    </div>
</div>