@font-face {
    font-family: 'font-icons';
    src: url('https://fontawesome.com/icons');
}
#heading{
    margin-bottom: 24px;
}
.gray{
    color: gray;
    text-align: center;
    font-weight: 400;
    font-family: nuinito,sans-serif!important;
    font-style: normal;
    margin-bottom: 7px;
    font-size: 1rem;
}
.black{
    font-size: 240%;
    color: #333;
    font-weight: 400 !important;
    letter-spacing: 0 !important;
    text-transform: none !important;
    margin-bottom: 0;
    text-align: center;
}
.title-product{
    font-size: 20px;
    padding: 0 !important;
    text-align: center;
    font-family: Playfair_Display,sans-serif!important;
    cursor: pointer;
}
.price{
    text-align: center;
    padding: 0;
}

.cross-line{
    text-decoration: line-through;
    text-align: center;
    font-weight: 400;
    font-size: 90%;
    color: #888;
}
.discount{
    color: #0C1CCC;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
}

.product{
    width: 33.33%;
    position: relative;
    display: inline-block;
    padding: 30px 30px;
    justify-content: space-evenly;

}

.img-product{
    height: auto;
    display: block;
    width: 100%;
    height: auto;
}
a {
    font-size: 2em;
    transition: all .3s ease-out;
    display: inline-block;
  }
a:hover {
    transform: translate(0, -5px);
  }

.book{
    padding: 0; 
    position:relative;
    width: 100%;
}  
.mat-raised-button{
    min-width: 36px !important;
    padding: 0;
}
.mat-icon{
   margin-bottom: 6px;
}
#cart{
    position: absolute;
    top: 10px;
    right: 16px;
}
#cart:hover{
    color: white;
}
#wishlist{
    position: absolute;
    top: 60px;
    right: 16px;
}
#wishlist:hover{
    color: white;
}
#quick-view{
    position: absolute;
    top: 110px;
    right: 16px;
}
#quick-view:hover{
    color: white;
}

.product button{
    border-radius: 5px;
    border: none;
    width: 36px;
    height: 36px;
}
button:hover{
    background-color: #0C1CCC;
}
.container{
    position: relative;
    padding: 80px 0;
    overflow: hidden;
}
.container-shop{
    padding: 0 8px;
    width: 100%;
}
//.animated{
//    transition: all .5s;
//    transform : translateX(-10px);
//}
.buttons{
    cursor: pointer; 
    transition: all 1s;  /* lets make it smooth */
}
.move-left:hover{
    transition: all .5s;
    transform : translateX(-10px);
}

    @media (max-width: 768px){
        .product{
            width: 100%;
            position: relative;
            display: inline-block;
            padding: 20px 20px;
            justify-content: space-evenly;
        
        }
    }
    @media (min-width: 768px) and (max-width: 959px){
    
        .product{
            width: 50%;
            position: relative;
            display: inline-block;
            padding: 20px 20px;
            justify-content: space-evenly;
        
        }
    
    }
    
    @media  (min-width: 960px)and (max-width: 1024px){
    
        .product{
            width: 50%;
            position: relative;
            display: inline-block;
            padding: 25px 25px;
            justify-content: space-evenly;
        
        }
    }
    