
#wrapper {
    position: relative;
    float: none;
    background-color: #fff;

    #content {
        position: relative;
        overflow: hidden;
        background-color: #fff;
        margin-bottom: 0px;

        .content-wrap {
            position: relative;
            padding: 80px 0;

            img {
                max-width: 100%;
                vertical-align: middle;
                border-style: none;
            }
            
            .h2 {
                font-size: 2rem;

            }

            .align-items-center {
                align-items: center !important;
            }

            .color {
                color: #0C1CCC;
            }

            strong {
                font-weight: bolder;
            }

            .product-rating {
                display: block;
            }

            .line.line-sm {
                margin: 30px 0;
            }

            .line {
                clear: both;
                position: relative;
                width: 100%;
                border-top: 1 px solid #eee;
            }

            p {
                margin-bottom: 30px;
                line-height: 1.8;
                font-family: 'Nunito', sans-serif;
            }

            .op-03 {
                padding-right: 7px;
            }

            .section {
                position: relative;
                margin: 60px 0;
                padding: 60px 0;
                background-color: #F9F9F9;
                overflow: hidden;

                .container {
                    z-index: 2;

                    .slider-wrap {
                        position: relative;

                        img {
                            position: absolute;
                            top: -200px;
                            left: 0;
                        }

                        .top {
                            animation-name: fade;
                            animation-timing-function: ease-in-out;
                            animation-iteration-count: infinite;
                            animation-duration: 10s;
                            animation-direction: normal;
                        }

                        @keyframes fade {
                            0% {
                                opacity: 1;
                            }

                            25% {
                                opacity: 1;
                            }

                            50% {
                                opacity: 0;
                            }

                            75% {
                                opacity: 0;
                            }

                            100% {
                                opacity: 0;
                            }
                        }
                    }

                    .heading-block {
                        margin-bottom: 50px;

                        .fw-normal {
                            font-weight: bold;
                        }
                    }

                    .fa-check {
                        font-size: 13px;
                    }

                }
            }
        }
    }
}









  