<div id="wrapper" class="clearfix mt-5 pt-5">
    <section id="content">
        <div class="content-wrap pb-0 clearfix">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-md-5">
                        <img src="assets/images/book_1.png" alt="Image">
                    </div>
                    <div class="col-md-6">
                        <h2 class="h1 mb-5 ">My Loving Dad</h2>
                        <div class="d-flex align-items-center justify-content-between">

                            <!-- Product Single - Price
                        ============================================= -->
                            <div class="h2"><del class="op-03">$39.99</del> <strong class="color">$24.99</strong></div>

                            <!-- Product Single - Rating
                        ============================================= -->
                            <div class="product-rating">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-regular fa-star-half-stroke"></i>
                                <i class="fa-regular fa-star"></i>
                            </div><!-- Product Single - Rating End -->
                        </div>
                        <div class="line line-sm"></div>
                        <p>eBooks, iBooks, PDF &amp; ePub Supported</p>
                        <!-- Product Single - Short Description
                    ============================================= -->
                        <p>Holisticly leverage other's resource sucking information before sticky supply chains.
                            Holisticly matrix standards compliant alignments whereas stand-alone core competencies.
                            Professionally underwhelm process-centric users and value-added sources. Globally whiteboard
                            goal-oriented leadership with process-centric opportunities. Dynamically monetize granular
                            technologies for impactful imperatives. Compellingly extend wireless scenarios after
                            open-source results. Progressively leverage existing.</p>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex ipsam quaerat vel vero, alias
                            consectetur.</p>
                        <!-- <a href="http://amazon.com"><img src="assets/images/reader.png" alt="Image" width="200" class="mt-2 h-translate-y-sm all-ts"></a> -->
                    </div>
                </div>
            </div>
            <div class="section">
                <div class="container">
                    <div class="row justify-content-center align-items-center topmargin">
                        <div class="col-lg-4 col-md-5 px-5">
                            <div class="slider-wrap">
                                <img src="assets/images/reader-2.png" class="bottom" alt="Reader">
                                <img src="assets/images/reader.png" class="top" alt="Reader">
                                <!-- <div class="slide"><img src="demos/articles/images/reader-2.png" alt="Reader"></div> -->
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-7 ps-md-6 mt-5 mt-md-0">
                            <h2 class="fw-normal ls0 nott mb-4 font-primary h1">About this Book</h2>
                            <p>Progressively strategize just in time scenarios and compelling results. Intrinsicly
                                parallel task extensive systems whereas distinctive catalysts for change. Proactively
                                communicate standardized paradigms through proactive.</p>
                            <h4 class="mb-3 fw-normal font-body"><i class="fa-solid fa-check"></i> Fully Supported
                                eBooks</h4>
                            <h4 class="mb-3 fw-normal font-body"><i class="fa-solid fa-check"></i> Most Popular since
                                2015</h4>
                            <h4 class="mb-3 fw-normal font-body"><i class="fa-solid fa-check"></i> Any Device Supported
                            </h4>
                            <h4 class="mb-3 fw-normal font-body"><i class="fa-solid fa-check"></i> Light &amp; Dark Both
                            </h4>
                            <h4 class="mb-3 fw-normal font-body"><i class="fa-solid fa-check"></i> 100% Readable</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="heading-block topmargin text-center border-bottom-0">
                    <h2 class="fw-normal ls0 nott">My Other Books</h2>
                </div>
                <div class="row justify-content-center mb-4">
                    <div class="col-md-2">
                        <a [routerLink]="'single-books'"><img src="assets/images/book_5.png" alt="Image 1"></a>
                    </div>
                    <div class="col-md-2">
                        <a [routerLink]="'single-books'"><img src="assets/images/book_6.png" alt="Image 2"></a>
                    </div>
                    <div class="col-md-2">
                        <a [routerLink]="'single-books'"><img src="assets/images/book_7.png" alt="Image 3"></a>
                    </div>
                    <div class="col-md-2">
                        <a [routerLink]="'single-books'"><img src="assets/images/book_8.png" alt="Image 4"></a>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- #content end -->
</div>