*{
    box-sizing: border-box;
}
 // GO TO TOP BUTTON
#gotoTop {
    position: fixed;
    width: 40px;
    height: 40px;
    background-color: rgba(0,0,0,.3);
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    top: auto;
    left: auto;
    right: 30px;
    bottom: 30px;
    border-radius: 2px;
    border: none;
    color: #FFF;
}
#gotoTop:hover {
    background-color: #0C1CCC;
}