<app-header></app-header>
<div id="content">
    <router-outlet></router-outlet>
</div>  
<app-footer *ngIf="_router.url != '/auth/login' && _router.url != '/auth/register'"></app-footer>

<!-- GO TO TOP BUTTON -->
<button type="button" id="gotoTop" *ngIf="isShow" (click)="gotoTop()"><i class="fa-solid fa-chevron-up"></i></button>
