<!-- FIRST SECTION -->
<section id="slider" class="slider-element min-vh-0 mb-5 pt-5 mt-5 container">
    <div class="slider-inner">
        <div class="swiper-slide">
            <div class="container">
                <div class="row align-items-center mt-5">
                    <div class="col-xl-6 pe-0 pe-xl-5 col-md-5 col-sm-11 col-12 mb-5 mb-lg-0">
                        <div class="heading-block border-bottom-0 mb-4">
                            <h2 class="fw-bold ls0 nott">Complete Recipes for Vegetarians.</h2>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda praesentium eius,
                            similique reprehenderit ab voluptatibus eaque. Nobis maxime recusandae aliquid, id
                            impedit aperiam dolore quas, illo eum quam. Architecto, reiciendis.</p>
                    </div>
                    <div class="col-xl-2 col-md-3 col-4 parallax">
                        <img src="../../assets/images/book_5.png" alt="Image" class="faster">
                        <div class="card mt-3 d-none d-sm-block">
                            <div class="card-body rounded bg-color dark">
                                <h4 class="mb-2 font-body">Demo Heading</h4>
                                <p class="mb-0">Sunt, laborum, nemo. Aperiam. Lorem ipsum dolor sit consectetur
                                    adipisicing elit.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-2 col-4 p-0 parallax">
                        <img src="../../assets/images/4.png" alt="Image" class="rounded">
                        <img src="../../assets/images/book_6.png" alt="Image"
                            class="rounded mt-3">
                    </div>
                    <div class="col-xl-2 col-md-2 col-4 parallax">
                        <img src="../../assets/images/3.png" alt="Image" class="rounded">
                        <img src="../../assets/images/5.png" alt="Image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- CAROUSEL SECTION -->
<div class="section-scroller m-0" style="padding: 100px 0">
    <div class="container center font-nunito">
        <span class="before-heading">Most Popular</span>
        <div class="heading-block border-bottom-0 mx-auto" style="max-width: 820px">
            <h2 class="nott ls0 fw-normal pb-4">Rapidiously pontificate tactical information visa installed base
                platforms.</h2>
            <a class="button button-large nott px-5 ms-0 mt-5" [routerLink]="'../most-popular'">View
                All</a>
        </div>
    </div>

    <ngu-carousel #myCarousel [inputs]="carouselTile" [dataSource]="images">
        <ngu-tile *nguCarouselDef="let item; let j = index"></ngu-tile></ngu-carousel>

    <ngu-carousel #myCarousel [inputs]="carouselTile" [dataSource]="theData" >
        <ngu-tile *nguCarouselDef="let item; let j = index" >

            <div class="swiper-wrapper card">
                <div class="row align-items-center">
                    <div class="col-md-6 tile" [style.background]="'url(' + item.image + ')'">
                        <span *ngIf="item.onSale" class="sale-flash badge bg-color text-light p-2">Sale!</span>
                    </div>
                    <div class="col-md-6 p-0 pe-5">
                        <div class="card-body section-card">
                            <h4 class="mb-3"><a href="#">{{ item.title }} </a></h4>
                            <p class="mb-3 d-none d-sm-block">{{ item.description }}</p>
                            <div class="article-info mb-3 d-flex align-items-center">
                                <div class="rating-stars me-2">
                                    <i *ngFor="let star of calcRaitingStars(item.rating)" class="fa-solid"
                                    [class.fa-star]="star === 1" [class.fa-star-half-stroke]="star === 0.5" ></i>
                                    <!-- <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star-half-stroke"></i> -->
                                </div>
                                <h5>by: <a href="#">{{ item.author }}</a></h5>
                            </div>
                            <span class="article-price fw-bold ms-1">
                                <del *ngIf="item.onSale">${{ item['originalPrice:']}}</del>
                                <span *ngIf="item.onSale">${{ item.discountPrice}}</span>
                                <span *ngIf="!item.onSale">${{ item['originalPrice:']}}</span><br>
                                

                                <span class="item-stock">In stock: </span><span>{{ item.inStock }}</span>
                            </span>
                            <br>
                            <button [disabled]="item.quantity > 0" (click)="addToCart(item)" (click)="clickMe()"  class="button add-to-cart button-small button-dark ls0 shadow-none nott ms-0 mt-4"><i
                                    class="fa-solid fa-cart-shopping me-2"></i>Add to Cart</button>

                        </div>
                    </div>
                </div>
            </div>
        </ngu-tile>
        <button NguCarouselPrev class="leftRs" [style.opacity]="myCarousel.isFirst ? 0:1">&lt;</button>
        <button NguCarouselNext class="rightRs" [style.opacity]="myCarousel.isLast ? 0:1">&gt;</button>
    </ngu-carousel>
</div>

<!-- ABOUT US SECTION -->
<div class="section-about mb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h4 class="mb-0"><span class="badge bg-secondary">About Us</span></h4>
                <div class="heading-block">
                    <h2 class="ls0 nott mb-3 fw-lighter">Objectively network user friendly
                        quality with world-class bandwidth. </h2>
                </div>
                <p class="mb-5">Progressively strategize just in time scenarios and compelling results. Intrinsicly
                    parallel task extensive systems whereas distinctive catalysts for change. Proactively
                    communicate standardized paradigms through proactive.</p>
                <a href="#" class="button button-large nott px-4 ms-0 p-3">Learn More</a>
            </div>
            <div class="col-md-6 offset-0 offset-md-1 mt-5 mt-md-0">
                <div class="circle-border">
                    <div class="feature-content">
                        <div class="d-flex align-items-center justify-content-between h-100">
                            <div>
                                <div class="circle-inner">
                                    <div>
                                        <div class="counter mb-0 fw-normal font-PD1 text-primary"><span
                                                class="font-nunito" data-from="1" data-to="7" data-refresh-interval="10" data-speed="2000">7</span>K+</div>
                                        <h5 class="mt-1 text-muted mb-0 font-body ls0">Books</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex h-100 flex-column justify-content-between">
                                <div class="circle-inner">
                                    <div>
                                        <div class="counter mb-0 fw-normal font-PD1 text-info"><span class="font-nunito" data-from="1" data-to="3" data-refresh-interval="200" data-speed="23000">3</span>K+
                                        </div>
                                        <h5 class="mt-1 text-muted mb-0 font-body ls0">Authors</h5>
                                    </div>
                                </div>
                                <div class="circle-inner">
                                    <div>
                                        <div class="counter mb-0 fw-normal font-PD1 text-danger"><span
                                                class="font-nunito" data-from="1" data-to="1240"
                                                data-refresh-interval="50" data-speed="2100">1240</span></div>
                                        <h5 class="mt-1 text-muted mb-0 font-body ls0"><br>Published</h5>
                                    </div>
                                </div>
                                <div class="circle-inner">
                                    <div>
                                        <div class="counter mb-0 fw-normal font-PD1 text-warning"><span
                                                class="font-nunito" data-from="1" data-to="3"
                                                data-refresh-interval="100" data-speed="2400">3</span>K+
                                        </div>
                                        <h5 class="mt-1 text-muted mb-0 font-body ls0">Members</h5>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="circle-inner">
                                    <div>
                                        <div class="counter mb-0 fw-normal font-PD1 text-primary"><span
                                                class="font-nunito" data-from="1" data-to="220"
                                                data-refresh-interval="100" data-speed="2400">220</span></div>
                                        <h5 class="mt-1 text-muted mb-0 font-body ls0"><br>Free Items</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- AUTHORS OF THE WEEK SECTION -->
<div class="section bg-transparent">
    <div class="container">
        <div class="heading-block mb-4 border-bottom-0">
            <h2 class="fw-normal ls0 nott mb-0 font-PD1">Authors of the week</h2>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-3 col-sm-6">
                <img src="../../assets/images/authors/author.jpg" alt="Image">
            </div>
            <div class="col-lg-4 col-sm-6 mt-3 mt-sm-0">
                <div class="heading-block1">
                    <h2 class="fw-bold ls0 mb-0 font-nunito">Samuel Serif</h2>
                    <span class="text-muted">Writer, London</span>
                </div>
                <p class="mb-0 font-nunito pt-2">Progressively strategize just in time scenarios and compelling results.
                    Intrinsicly parallel task extensive systems whereas distinctive catalysts for scenarios
                    and compelling results change.</p>
            </div>
            <div class="col-lg-5 mt-5 mt-lg-0">
                <h4 class="mb-3 fw-normal font-nunito">Popular Books of <a href="#">Samuel Serif</a></h4>
                <div>
                    <div class="row" style="width: 1365px;">
                        <div class="col-lg-6" style="width: 253px;">
                            <div>
                                <img class="popular-books" src="../../assets/images/book_5.png" alt="Image 1" [routerLink]="'../single-books'">
                            </div>
                        </div>
                        <div class="col-lg-6" style="width: 253px;">
                            <div>
                                <img class="popular-books" src="../../assets/images/book_6.png" alt="Image 2" [routerLink]="'../single-books'">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>