// FIRST SECTION
#slider {
  font-family: "Playfair_Display1", sans-serif;
  color: #555;
  cursor: grab;

  .slider-inner {
    position: relative !important;
    height: auto !important;

    .swiper-slide {
      transform: translateZ(0);
      flex-shrink: 0;
      width: 100%;
      height: 100%;
      position: relative;
      transition-property: transform;

      .heading-block {
        h2 {
          font-size: 3.4rem;
          line-height: 1.2;
          margin-bottom: 0;
          color: #333;
        }
        .ls0 {
          letter-spacing: 0 !important;
        }
        .nott {
          text-transform: none !important;
        }
      }

      .parallax {
        background-color: transparent;
        background-attachment: fixed;
        background-position: 50% 0;
        background-repeat: no-repeat;
        overflow: hidden;
        will-change: transform;

        img {
          max-width: 100%;
        }
        .card-body {
          font-family: "Nunito";

          h4 {
            font-size: 18px;
          }

          // .add-to-cart {
          //   :disabled {
          //       background-color: red;
          //       :hover {
          //           background-color: gray;
          //       }
          //   }
          // }
        }
        .bg-color {
          background-color: #0c1ccc;
        }
        .dark {
          color: #eee;
        }
      }
    }
  }
}

// CAROUSEL SECTION
.section-scroller {
  position: relative;
  overflow: visible;
  background-color: #f9f9f9;
  .card {
    border: none;
    background-color: transparent;
  }
  .center {
    text-align: center !important;

    .before-heading {
      margin: 0 0 5px;
      color: #999;
    }

    .heading-block {
      margin-bottom: 50px;
      h2 {
        font-size: 240%;
        font-family: "Playfair_Display1";
      }

      .button.button-large {
        padding: 8px 26px;
        font-size: 16px;
        line-height: 30px;
        background-color: #0c1ccc;
        color: #fff;
        letter-spacing: 1px;
        text-decoration: none;
      }

      .button.button-large:hover {
        background-color: #333;
      }
    }
  }

  .font-nunito {
    font-family: "Nunito";
  }

  .ls0 {
    letter-spacing: 0 !important;
  }
  .nott {
    text-transform: none !important;
  }

  .tile {
    height: 400px;
    background-size: cover !important;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;

    .sale-flash {
      position: absolute;
      top: -10px;
      left: auto;
      right: -10px;
      padding: 6px 10px;
      background-color: #0c1ccc;
      color: #fff;
      border-radius: 2px;
      z-index: 5;
      font-weight: 100;
      font-family: "Nunito";
    }

    .badge {
      --bs-badge-padding-x: 0.65em;
      --bs-badge-padding-y: 0.35em;
      --bs-badge-font-size: 0.75em;
      --bs-badge-font-weight: 700;
      --bs-badge-color: #fff;
      --bs-badge-border-radius: 0.375rem;
      display: inline-block;
      font-size: var(--bs-badge-font-size);
      line-height: 1;
      text-align: center;
      white-space: nowrap;
      vertical-align: baseline;
    }

    img {
      max-width: 100%;
    }
  }
  .section-card {
    h4 {
      a {
        color: #111;
        text-decoration: none;
      }
    }
    p {
      font-size: 13px;
      color: #888;
      // overflow: hidden;
      text-overflow: ellipsis;
      font-weight: 200;
      font-family: "Nunito";
    }
    .article-info {
      .rating-stars {
        position: relative;
        top: 2px;
      }
      h5 {
        font-weight: 400;
        color: #aaa;
        margin-bottom: 0;
        font-size: 14px;
        a {
          text-decoration: none;
          color: #0c1ccc;
        }
        a:hover {
          color: #333;
        }
      }
    }
    .article-price {
      font-family: "Nunito";
      // color: #0C1CCC;
      del {
        color: #bbb;
      }
    }
    .button.button-small {
      padding: 7px 17px;
      font-size: 12px;
      line-height: 20px;
      font-family: "Nunito";
      font-weight: 200;
    }
    .button.button-dark {
      background-color: #444;
    }
    .button.button-dark:hover {
      background-color: #0c1ccc;
    }
    .button {
      display: inline-block;
      margin: 5px;
      color: #fff;
      font-weight: 700;
      border: none;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
      text-decoration: none;
    }
  }

  .leftRs {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    border-radius: 999px;
    border-color: transparent;
    left: 0;
    z-index: 9;
    background-color: #111;
    color: #fff;
    transition: transform 0.2s;
  }
  .leftRs:hover,
  .rightRs:hover {
    background-color: #0c1ccc;
    transform: scale(1.1);
  }

  .rightRs {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    border-radius: 999px;
    border-color: transparent;
    right: 0 !important;
    background-color: #111;
    color: #fff;
  }

  .swiper-wrapper {
    padding-top: 8px;
  }
}

// ABOUT US SECTION
.section-about {
  background-color: #f9f9f9;
  // padding: 120px;
  padding: 180px 0;

  h4 {
    font-size: 18px;
  }

  .badge {
    display: inline-block;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    position: relative;
    padding: 0.25em 0.4em;
    font-weight: 500;
    border-radius: 2px;
    top: -1px;
    font-family: "Nunito";
  }

  p {
    font-family: "Nunito";
    line-height: 1.8;
  }
  .button.button-large {
    box-shadow: 0 8px 16px rgb(32 41 50 / 12%);
    background-color: #0c1ccc;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-family: "Nunito";
    font-weight: 500;
  }
  .button.button-large:hover {
    background-color: #333;
  }

  .heading-block {
    margin-bottom: 50px;

    h2 {
      font-family: "Playfair_Display1";
      color: #333;
      font-size: 240%;
      font-weight: 400;
      line-height: 1.5;
    }
    .ls0 {
      letter-spacing: 0 !important;
    }
    .nott {
      text-transform: none !important;
    }
  }

  .heading-block::after {
    opacity: 0.8;
    border-width: 2px;
    border-style: solid;
    border-color: var(--themecolor, #0c1ccc);
    content: "";
    display: block;
    margin-top: 30px;
    width: 40px;
  }

  .circle-border {
    position: relative;
    margin-top: 25px;
    margin-left: 25px;
    border: 2px solid rgba(12, 28, 204, 0.05);
    border-radius: 50%;
    height: 400px;
    width: 400px;

    .feature-content {
      position: absolute;
      top: -50px;
      left: -50px;
      width: 500px;
      height: 500px;

      .circle-inner::before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        height: 0;
        box-sizing: border-box;
      }

      .circle-inner {
        border-radius: 50%;
        min-width: 100px;
        min-height: 100px;
        padding: 10px;
        background: #fff;
        box-shadow: 0 0 35px rgba(140, 152, 164, 0.2);
        text-align: center;
        line-height: 1;
        box-sizing: content-box;
        white-space: nowrap;

        .counter {
          font-size: 28px;
        }

        .counter + h5 {
          font-size: 13px;
          text-transform: uppercase;
          letter-spacing: 1px;
          font-family: "Nunito";
        }

        .font-PD1 {
          font-family: "Playfair_Display1";
        }
        .font-nunito {
          font-family: "Nunito";
        }
      }
    }
  }
}

// LAST SECTION
.section {
  position: relative;
  width: 100%;
  margin: 60px 0;
  padding: 60px 0;
  // background-color: #f9f9f9;
  overflow: hidden;
  .font-nunito {
    font-family: "Nunito";
  }
  .font-PD1 {
    font-family: "Playfair_Display1";
  }
  h2 {
    font-size: 240%;
    color: #333;
  }
  h4 {
    font-size: 18px;
    a {
      text-decoration: none;
    }
  }
  .heading-block1 {
    margin-bottom: 50px;
    h2 {
      font-size: 240%;
      text-transform: uppercase;
      color: #333;
    }
    span {
      font-size: 20px;
      font-weight: 300;
      display: block;
      margin-top: 10px;
    }
  }
  .heading-block1::after {
    opacity: 0.8;
    border-width: 2px;
    border-style: solid;
    border-color: var(--themecolor, #0c1ccc);
    content: "";
    display: block;
    margin-top: 30px;
    width: 40px;
  }
  img {
    max-width: 100%;
  }
  .popular-books {
    cursor: pointer;
  }
}
