/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family:'Playfair_Display';
    src: url('./assets/fonts/Playfair_Display/static/PlayfairDisplay-Bold.ttf');
}
@font-face {
    font-family:'Nunito';
    src: url('./assets/fonts/Nunito/static/Nunito-Regular.ttf');
}
@font-face {
    font-family:'Playfair_Display1';
    src: url('./assets/fonts/Playfair_Display/static/PlayfairDisplay-Regular.ttf');
}

*{
    box-sizing: border-box;
}
html, body { 
    height: 100%; 
    margin: 0;
    padding: 0;
}
// body{
//     line-height: 1.5;
//     font-size: 0.875rem;
// }

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

app-header {
    z-index: 9999!important;
    background-color: #fff;
    height: 100px;
    display: flex;
    align-items: end;
    width: 100%;
}