<mat-card class="mt-5">
    <mat-card-actions class="pass-box mt-5">
        <div>
            <img class="img-left" src="../../../assets/images/agency.png">
        </div>
        <div class="form-right">
            <h2>Reset Password</h2>

            <form *ngIf="!resetClick" [formGroup]="mailCheck">
                <mat-form-field appearance="outline" class="width-100" style="margin-bottom: -1.25em" >
                    <mat-label>Insert a valid email</mat-label>
                    <input matInput type="email" #email (keyup)='checkEmail(email.value)' value="" formControlName="email">
                </mat-form-field><br>
            </form>
            
            <div class="buttons">
                <button mat-raised-button color="primary" class="buttons-button" *ngIf="!resetClick" [disabled]="mailCheck.invalid" (click)="sendEmail()">SEND</button>
                <button mat-raised-button color="primary" class="buttons-button" *ngIf="!resetClick" [routerLink]="'../login'" [routerLinkActive]="['active']">CANCEL</button>
            </div>

            <form *ngIf="resetClick" [formGroup]="resetPass">
                <mat-form-field appearance="outline" class="width-100" style="margin-bottom: -1.25em" >
                    <mat-label>Old Password</mat-label>
                    <input matInput type="password" #op (keyup)='checkOldPass(op.value)' value="" formControlName="oldPass">
                </mat-form-field><br>
    
                <mat-form-field appearance="outline" class="width-100" style="margin-bottom: -1.25em" >
                    <mat-label>New Password</mat-label>
                    <input matInput type="password" id="password" #pw value="" formControlName="newPass">
                </mat-form-field><br>
    
                <mat-form-field appearance="outline" class="width-100" style="margin-bottom: -1.25em" >
                    <mat-label>Confirm New Password</mat-label>
                    <input matInput type="password" id="cPassword" #cpw (keyup)='checkPasswords(pw.value, cpw.value)' value="" formControlName="confirmPass">
                </mat-form-field>
            </form>
            <div *ngIf='!passwordsMatching && isConfirmPasswordDirty'>
                Passwords did not match
            </div>
    
            
            <div class="buttons" *ngIf="resetClick">
                <button mat-raised-button color="primary" class="buttons-button" *ngIf="resetClick" [disabled]="resetPass.invalid" (click)="saveNewPass()">SAVE</button>
                <button mat-raised-button color="primary" class="buttons-button" *ngIf="resetClick" [routerLink]="'../login'" [routerLinkActive]="['active']">CANCEL</button>
            </div>
        </div>
    </mat-card-actions>
</mat-card>