mat-card {
    padding: 25px;
    overflow: hidden;

    .pass-box{
        display: flex;
        justify-content: space-evenly;

        .img-left {
            width: 400px;
        }
        @media (max-width:1100px) {
            .img-left {
                width: 350px;
            }
        }
        @media (max-width:920px) {
            .img-left {
                width: 300px;
            }
        }
        @media (max-width:780px) {
            .img-left {
                width: 250px;
            }
        }
        @media (max-width:600px) {
            .img-left {
                display: none;
            }
        }

        .form-right {
            display: flex;
            justify-content: space-evenly;
            flex-direction: column;
            padding: 50px;
            background-color: ghostwhite;
            border-radius: 20px;
            width: 380px;

            .buttons {
                display: flex;
                justify-content: space-around;
                flex-direction: column;
                margin-top: 40px;

                .buttons-button {
                    background-color: #07acee;
                    color: white;
                    margin: 0 0 16px 0;
                    padding: 0;
                }
            }

            .forgot {
                text-align: end;
                color: #07acee;
                cursor: pointer;
            }

            h2{
                text-align: center;

            }
        }
    }
}

.width-100 {
    width: 100%;
}

button {
    float: right;
}
